---
import { getCollection, getEntry } from 'astro:content'
import { supabase } from '../../lib/supabase'
import LayoutApp from '../../layouts/layoutApp.astro'
import LocationList from '../../components/LocationList.astro'

export async function getStaticPaths() {
  const countries = await getCollection('countries')
  return countries?.map((country) => {
    return { params: { country: country.data.id }, props: { ...country.data } }
  })
}

const { id, canonical_name, record_count } = Astro.props

const { data: reports, error } = await supabase
  .from('Clean Data')
  .select()
  .eq('canonical_country', canonical_name)
  .order('dateOccurred', {ascending: true})
  .limit(20)

if (error) console.log(error)

const countryStates = await getEntry('statesByCountry', id)
console.log(countryStates?.data.states)


const states = countryStates?.data.states.map((state) => ({
	title: state.canonical_name,
	url: `/${id}/${state.id}`,
	count: state.record_count.toLocaleString()
}))
console.log(states)
---
<LayoutApp
  title={canonical_name}
>
<h1>{canonical_name}</h1><span>{record_count}</span>
<LocationList 
  title="Statess"
  locations={states}
/>
<!-- {countryStates?.data.states.map((state) => (
  <div>
    <a href={`/${id}/${state.id}`}>{state.canonical_name}</a>
    <span>{state.record_count}</span>
  </div>
))} -->
<!-- <h2>Latest Reports</h2>
{reports?.map((report) => (
  <div>
    <p>{report.id}</p>
    <p>{report.dateOccurred}</p>
  </div>
))} -->
</LayoutApp>