---
import { getCollection, getEntry } from 'astro:content';
import { supabase } from '../../../../lib/supabase';
import ReportCard from '../../../../components/ReportCard.astro';
import MasterLayout from '../../../../layouts/layoutMaster.astro';

export async function getStaticPaths() {
  const states = await getCollection('citiesByState')
  return states.flatMap((state) => {
    return state.data.cities.map((city) => ({ 
      params: {
        country: city.country,
        state: state.id,
        city: city.id
      },
      props: { ...city }
    }))
  })
}

const { id, canonical_name, record_count } = Astro.props
const { country, state } = Astro.params

const stateData = await getEntry('states', state)
const countryData = await getEntry('countries', country)

let { data: reports, error } = await supabase
      .from('Clean Data')
      .select('*')
      .eq('canonical_city', canonical_name)
      .order('country', { ascending: false })

---
<MasterLayout
  title={`${canonical_name}, ${stateData?.data.canonical_name}, ${countryData?.data.canonical_name}`}
>
  
  <a href="/">The Phenomenon</a>
  <a href={`/${country}`}>Back to Country</a>
  <h1>{canonical_name}</h1>
  <p>{record_count}</p>
  {reports?.map((report) => (
    <ReportCard 
      id={report.id}
      date={report.dateOccurred}
      summary={report.summary}
      city={report.canonical_city}
      state={report.canonical_state}
      country={report.canonical_country}
      shape={report.shape}
    />
  ))}
</MasterLayout>