---
import { formatDate } from "../lib/utils"

interface Props {
  id: string;
  date?: Date;
  city: string;
  state: string;
  country: string;
  summary: string;
  content?: string;
  shape?: string;
}

const { id, date, city, state, country, summary, shape } = Astro.props
const formattedDate = formatDate(date)
---
<div class="report-card">
  { id && <p>{id}</p>}
  { summary && <p>{summary}</p>}
  { city && <p>{city}</p>}
  { state && <p>{state}</p>}
  { country && <p>{country}</p>}
  { shape && <p>{shape}</p>}
  { date && formattedDate && <p>{formattedDate}</p>}
</div>