---
import { ClientRouter } from "astro:transitions";

import "../styles/base.css"
import "../styles/typography.css"
import "../styles/color.css"
import "../styles/spacing.css"
import "../styles/forms.css"
import "../styles/animation.css"

interface Props {
  title: string;
  description?: string;
}

const { title } = Astro.props

const metaTitle = `The Phenomenon | ${title}`
const metaDescription = "Explore UAP/UFO sighting reports from across the globe."
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<!-- HTML Meta Tags -->
		<title>{metaTitle}</title>
		<meta name="description" content={metaDescription}>

		<!-- Facebook Meta Tags -->
		<meta property="og:url" content="https://thephenomenon.app">
		<meta property="og:type" content="website">
		<meta property="og:title" content={metaTitle}>
		<meta property="og:description" content={metaDescription}>
		<meta property="og:image" content="/og_image.png">

		<!-- Twitter Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta property="twitter:domain" content="thephenomenon.app">
		<meta property="twitter:url" content="https://thephenomenon.app">
		<meta name="twitter:title" content={metaTitle}>
		<meta name="twitter:description" content={metaDescription}>
		<meta name="twitter:image" content="/og_image.png">

		<ClientRouter />
	</head>
	<body>
    <slot />
	</body>
</html>