---
import { getEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import MasterLayout from '../../../layouts/layoutMaster.astro';

export async function getStaticPaths() {
  const countries = await getCollection('statesByCountry')
  return countries.flatMap((country) => {
    return country.data.states.map((state) => ({ 
      params: {
        country: state.country,
        state: state.id
      },
      props: { ...state }
    }))
  })
}

const { id, canonical_name, country, record_count } = Astro.props


const test = await getCollection('citiesByState')
console.log(test[0])


const citiesByState = await getEntry('citiesByState', id)
const countryData = await getEntry('countries', country)
console.log(countryData)
// console.log(citiesByState?.data.cities)
---
<MasterLayout
  title={`${canonical_name}, ${countryData?.data.canonical_name}`}
>
  <a href={`/${country}`}>{countryData?.data.canonical_name}</a>
  <h1>{canonical_name}</h1>
  <p>{record_count}</p>
  {citiesByState?.data.cities.map((city) => (
    <div>
      <a href={`/${country}/${id}/${city.id}`}>{city.canonical_name}</a>
      <span>{city.record_count}</span>
    </div>
  ))}
</MasterLayout>